@import 'globals/colors';

.header {
  position: fixed;
  display: grid;
  background-color: transparent;
  width: 100%;
}

.navbar {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;
  
  li {
    height: 100%;
    float: right;
    color: transparent;

    a {
      display: block;
      padding: 10px;
      color: transparent;
      text-decoration: none;
    }

    a:hover {
      background-color: rgba($secondary-color, .1);
      color: rgba($secondary-color, .8);
    }
  }
}
