@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import 'globals/colors';

.text {
  stroke: $secondary-color;
  font-weight: normal;
  font-family: "Indie Flower", cursive;
  font-size: 144px;
}

.nametag {
  pointer-events: none;
  width: 100%;
  height: 100%;
  
  svg {
    width: 40%;
    max-width: 600px;
    min-width: 300px;
    fill: none;
    stroke: #222222;
    stroke-width: 4;
    
    @for $i from 1 through 4 {
      tspan:nth-of-type(#{$i}) > tspan {
        stroke-dasharray: 1500;
        stroke-dashoffset: -1500;

        @for $j from 1 through 20 {
          
          &:nth-of-type(#{$j}) {
            animation: draw 300ms #{($i - 1) * 3000 + $j * 150}ms forwards;
          } 
        }
      }
    }
  }
}

@keyframes draw {
	
	100% {
		stroke-dashoffset: 0;
	}
	
}