@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import 'globals/colors';

.wipcard {
  pointer-events: none;
  grid-template-columns: auto minmax(min-content, 550px) auto;
  grid-template-rows: auto 450px auto;
  
  svg {
    grid-column-start: 2;
    grid-row-start: 2;
    max-width: 600px;
    min-width: 300px;
    fill: none;
    stroke-width: 4;
    margin: 20px;
    
    @for $i from 1 through 5 {
      tspan:nth-of-type(#{$i}) > tspan {
        stroke-dasharray: 1500;
        stroke-dashoffset: -1500;

        @for $j from 1 through 20 {
          
          &:nth-of-type(#{$j}) {
            animation: draw 200ms #{($i - 1) * 2000 + $j * 100}ms forwards;
          } 
        }
      }
    }
  }
}

@keyframes draw {
	
	100% {
		stroke-dashoffset: 0;
	}
	
}